@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", sans-serif;
  --fonte3: "Sriracha", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--fonte1);
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header h1 {
  padding: 50px 0px 0px 0px;
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 5em;
}

header p {
  padding: 0px 0px 50px 0px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  line-height: 2em;
  font-family: var(--fonte3);
  font-size: 2em;
}

section p {
  padding-bottom: 2em;
}

.normal {
  background-color: white;
  color: black;
}

.imagem {
  background-color: rgb(56, 56, 56);
  color: white;
  box-shadow: inset 6px 6px 12px 1px rgba(0, 0, 0, 0.322);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
}

.imagem p {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px black;
}

#img01 {
  background-image: url(imagens/background001.jpg);
}

#img02 {
  background-image: url(imagens/background002.jpg);
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
